<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{=response.title}}</title>
    <meta name="description" content="{{=response.meta.description}}">
    <meta name="keywords" content="{{=response.meta.keyworks}}">
    <meta name="date" content="2012-01-06">

    {{css = URL(a='blog',c='static', f='css')}}
    {{js = URL(a='blog',c='static', f='js')}}
    {{img = URL(a='blog',c='static', f='img')}}
    {{images = URL(a='blog',c='static', f='images')}}
    {{video = URL(a='blog',c='static', f='video')}}

    <link rel="stylesheet" href="{{=css}}/master.css" type="text/css" media="screen" charset="utf-8">

     <!-- include stylesheets -->
  {{  
  response.files.append(URL('static','css/web2py.css'))
  response.files.append(URL('static','css/bootstrap.min.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/web2py_bootstrap.css'))
  }}

  {{include 'web2py_ajax.html'}}

    {{block head}}
    {{end}}

    {{include 'html_functions/post_template.html'}}
</head>
<body>

  
  <header id="top">
    {{block header}}
      <div id="logo">
        <a href="/">
           <img src="{{=img}}/logo.png" alt="logo" />
        </a>
      </div>
      <hgroup>
          <h1>{{=response.title}}</h1>
          <h2>{{=response.subtitle}}</h2>
      </hgroup>
      <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">item menu</a></li>
            <li><a href="#">item menu</a></li>
            <li><a href="#">item menu</a></li>
          </ul>
      </nav>
      {{end}}
  </header>

  <section id="banner">
    {{block banner}}
      <img src="{{=img}}/banner.png" alt="banner"/>
      <!-- <img src="img/banner2.png" alt="banner" /> -->
    {{end}}
  </section>

  <aside id="sidebar">
    {{block sidebar}}
      <div id="info">
           <h3>About me</h3>
           <figure id="photo">
             <img src="{{=img}}/photo.jpg" alt="photo" />
             <img src="{{=img}}/photo2.jpg" alt="photo" />
             <figcaption>Dr Sheldon Cooper</figcaption>
           </figure>
           <p><blockquote>Este blog é o melhor blog do universo</blockquote></p>
      </div>
      <nav>
          <ul>
            <li><a href="#contact">contato</a></li>
            <li><a href="fotos.html">fotos</a></li>
            <li><a href="admin.html">admin</a></li>
          </ul>
      </nav>
      <section id="tweets" class="side">
          <header><h3>Twitter feed @TheRealSheldonC</h3></header>

      </section>
      {{end}}
  </aside>

  <div class="postcontainer">
    {{block main}}

   {{end}}
  </div>

  <footer>
    {{block footer}}
     <form id="contact" method="POST" action="{{=URL(a='blog', c='initial', f='contact')}}">
        <h3>Entre em contato</h3>
        <label>Nome</label>
        <input type="text" name="nome" id="nome" value="" placeholder="Seu nome" required>
        <label>Email</label>
        <input type="text" name="email" id="email" value="" placeholder="Seu e-mail" required>
        <label>Mensagem</label>
        <textarea name="mensagem" id="mensagem" required></textarea>
        <input type="submit" value="Enviar" />
     </form>

     <div>
       Copyright &copy; 2013
     </div>
     {{end}}
  </footer>


  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>   

  {{block jsbelow}}
    <script>

  $.getJSON("http://search.twitter.com/search.json?callback=?&q=therealsheldonc&include_entities=true&rpp=2",
  loadtweets);

  // $.ajax({url: "twitter.json"}).done(loadtweets);

  function loadtweets(data){
    results = data.results;
    for (var i in results){
      tweet = results[i]
      html = "<article class='well'>"
      html += "<header><small><a href=''>Postado em <time datetime='"
      html += tweet.created_at +"'>"+tweet.created_at;
      html += "</time></a></small></header>"
      html += "<p>" + tweet.text + "</p>";
      html += "</article>"
      $('#tweets').append(html);
    }
  }

  
  $(function(){
      
      var imagens = [];
      $('#photo img').each(function(){
        imagens.push($(this).attr('src'));
      });
      console.log(imagens);

      var counter = imagens.length;
      
      newimg = $("<img id='slider' class='img-polaroid'>").attr({'src': imagens[1]});

      $('#photo img').remove();
      $('#photo').prepend(newimg);

      var slider = $('#slider');

      setInterval(function(){
          $('#slider').fadeOut("slow", function(){
             $(this).attr('src', imagens[(imagens.length++) % counter]).fadeIn('slow');
          });

      }, 3000);
  
  });


  
  </script>
  {{end}}
</body>
</html>
